<div style="display: flex">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
    style="width: 280px; height: 100vh"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">FormIo</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/builder" routerLinkActive="active" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home"></use>
          </svg>
          Form Builder
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/renderer" routerLinkActive="active" class="nav-link">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          Form Renderer
        </a>
      </li>
    </ul>
    <hr />
  </div>
  <router-outlet></router-outlet>
</div>
