<div class="control-section">
  <button ejs-button class="e-success" (click)="save()">Save</button>

  <div id="message">{{ message }}</div>
  <ejs-grid
    #grid
    [dataSource]="dataSource"
    [editSettings]="editSettings"
    enblePersistence="true"
    allowPaging="true"
    allowSorting="true"
    allowFiltering="true"
    allowGrouping="true"
    allowPdfExport="true"
    allowExcelExport="true"
    [pageSettings]="pageSettings"
    [groupSettings]="groupOptions"
    [filterSettings]="filterSettings"
    [selectionSettings]="selectionOptions"
    (actionBegin)="actionBegin($event)"
    (actionComplete)="actionComplete($event)"
    (actionFailure)="actionFailure($event)"
    (batchAdd)="batchAdd($event)"
    (batchCancel)="batchCancel($event)"
    (batchDelete)="batchDelete($event)"
    (beforeAutoFill)="beforeAutoFill($event)"
    (beforeBatchAdd)="beforeBatchAdd($event)"
    (beforeBatchDelete)="beforeBatchDelete($event)"
    (beforeBatchSave)="beforeBatchSave($event)"
    (beforeCopy)="beforeCopy($event)"
    (beforeDataBound)="beforeDataBound($event)"
    (beforeExcelExport)="beforeExcelExport($event)"
    (beforeOpenAdaptiveDialog)="beforeOpenAdaptiveDialog($event)"
    (beforeOpenColumnChooser)="beforeOpenColumnChooser($event)"
    (beforePaste)="beforePaste($event)"
    (beforePdfExport)="beforePdfExport($event)"
    (beforePrint)="beforePrint($event)"
    (beginEdit)="beginEdit($event)"
    (cellDeselected)="cellDeselected($event)"
    (columnDrag)="columnDrag($event)"
    (columnDrop)="columnDrop($event)"
    (columnDragStart)="columnDragStart($event)"
    (columnMenuClick)="columnMenuClick($event)"
    (columnMenuOpen)="columnMenuOpen($event)"
    (columnSelecting)="columnSelecting($event)"
    (columnSelected)="columnSelected($event)"
    (created)="created($event)"
    (dataBound)="dataBound($event)"
    (dataStateChange)="dataStateChange($event)"
    (dataSourceChange)="dataSourceChange($event)"
    (destroyed)="destroyed($event)"
    (keyPressed)="keyPressed($event)"
    (queryCellInfo)="queryCellInfo($event)"
    (recordClick)="recordClick($event)"
    (recordDoubleClick)="recordDoubleClick($event)"
    (resizeStart)="resizeStart($event)"
    (resizeStop)="resizeStop($event)"
    (resizing)="resizing($event)"
    (rowDeselected)="rowDeselected($event)"
    (rowDeselecting)="rowDeselecting($event)"
    (rowDataBound)="rowDataBound($event)"
    (rowSelected)="rowSelected($event)"
    (rowSelecting)="rowSelecting($event)"
    (columnDrag)="columnDrag($event)"
    (columnDragStart)="columnDragStart($event)"
    (columnDrop)="columnDrop($event)"
    (columnMenuClick)="columnMenuClick($event)"
    (columnMenuOpen)="columnMenuOpen($event)"
    (columnSelecting)="columnSelecting($event)"
    (columnSelected)="columnSelected($event)"
    (toolbarClick)="toolbarClick($event)"
    [toolbar]="toolbar"
    showColumnMenu="true"
    showColumnChooser="true"
    allowReordering="true"
    allowResizing="true"
    height="370"
    width="1200"
    short="true"
    autoFit="true"
    [columns]="columns"
  >
  </ejs-grid>
</div>
