<ejs-grid
  #grid
  [dataSource]="dataSource"
  [allowPaging]="true"
  [allowSorting]="true"
  [pageSettings]="pageSettings"
  [selectionSettings]="selectionOptions"
  (rowSelected)="rowSelected($event)"
>
  <e-columns>
    <e-column
      field="id"
      headerText="id"
      textAlign="Right"
      width="90"
    ></e-column>

    <e-column
      field="title"
      headerText="Title"
      textAlign="left"
      width="150"
    ></e-column>
    <e-column
      field="description"
      headerText="Description"
      textAlign="left"
      width="150"
    ></e-column>
    <e-column
      field="price"
      headerText="Price"
      textAlign="left"
      width="90"
    ></e-column>
    <e-column
      field="discountPercentage"
      headerText="discount Percentage"
      textAlign="left"
      width="150"
    ></e-column>
  </e-columns>
</ejs-grid>
