<div class="container">
  <div class="text-center header">
    <h1>Form Builder</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="enter form title"
          aria-label="title"
          aria-describedby="basic-addon2"
          name="Title"
          [(ngModel)]="form.title"
        />
        <button
          type="button"
          class="btn btn-primary"
          style="width: 10%; margin-left: 10px"
          (click)="onSaveForm()"
        >
          Save
        </button>
      </div>
    </div>
  </nav>

  <div>
    <div style="display: flex">
      <select
        class="form-control form-select-lg mb-3"
        name="FormTitle"
        (change)="renderTemplate($event)"
      >
        <option value="-1" [selected]="this.selectedFormIndex === -1">
          select template
        </option>
        <option
          *ngFor="let form of formTemplates; let i = index"
          [value]="i"
          [selected]="this.selectedFormIndex === i"
        >
          {{ form.title }}
        </option>
      </select>
    </div>
    <form-builder
      [form]="form"
      [options]="builderOption"
      (change)="onChange($event)"
      #builder
    ></form-builder>
  </div>
</div>
